.button {
  @include flex-center;
  column-gap: 10px;
  background: none;
  border: none;
  padding: 8px 12px;
  color: inherit;
  user-select: none;

  &:disabled {
    @include disabled;
  }
}

.isAccent {
  &:not(:disabled) {
    @include hover {
      filter: brightness(0.8);
    }
  }

  background-color: var(--color-accent);
  color: var(--color-white);
}

.plate {
  border-radius: var(--border-radius-m);
}

.transparent {
  border-radius: var(--border-radius-m);
  border: var(--border-width-s) solid var(--color-white);
}

.circle {
  @include square(30px);
  padding: 7px;
  border-radius: 50%;
}
