.menu {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-rows: 0fr;
  background-color: var(--color-accent-light);
  box-shadow: var(--shadow);
  opacity: 0;
  border-radius: var(--border-radius-l);
  transition: grid-template-rows var(--transition-duration-m) ease-in-out,
    opacity var(--transition-duration-m) ease-in-out;
  z-index: var(--z-index-under);
  overflow: hidden;
  user-select: none;

  @include mobile {
    width: 100%;
    border-radius: 0;
    max-height: 500px;
    overflow-y: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px 25px;
  cursor: pointer;
  border-radius: var(--border-radius-l);

  @include hover {
    background-color: var(--color-accent-dark);
  }
}

.isExpanded {
  grid-template-rows: 1fr;
  opacity: 1;
}
