.input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: var(--border-radius-xl);

  @include hover {
    background-color: var(--color-grey-03);
  }

  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}

.isInvalid {
  border: var(--border-width-s) solid var(--color-red);
}
