.categoryCard {
  --size: #{fluid-to-laptop(300, 210)};
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-xl);
  transition: background-color var(--transition-duration) ease-in-out;

  @include hover {
    background-color: var(--color-grey);
  }
}
.title {
  word-break: break-all;
  font-weight: 700;
}
